In [1]:
# 유저의 인구통계학적 정보를 담고 있는 데이터셋을 랜덤 생성하는 코드
import pandas as pd
import random

df = pd.DataFrame(columns=['userId', 'gender', 'age', 'grade', 'likedChannel'])
for i in range(0, 1000):
    userId = i
    gender = random.choice(['male', 'female'])
    age = random.randint(19, 35)
    grade = random.choice(['fresher', 'sophomore', 'junior', 'senior', 'eternal'])
    liked_channel = random.choice(['A', 'B', 'C', 'D', 'E'])
    df.loc[len(df)] = [userId, gender, age, grade, liked_channel]

df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/user_data.csv', index=False)
df.head()

   userId  gender  age      grade likedChannel
0       0  female   26    fresher            E
1       1    male   23  sophomore            B
2       2    male   19     senior            E
3       3  female   31     junior            E
4       4  female   32    fresher            D