In [1]:
# 유저의 인구통계학적 정보를 담고 있는 데이터셋을 랜덤 생성하는 코드
import pandas as pd
import random

df = pd.DataFrame(columns=['userId', 'gender', 'age', 'grade', 'liked_channel'])
for i in range(1, 1001):
    userId = i
    gender = random.choice(['male', 'female'])
    age = random.randint(20, 35)
    grade = random.choice(['fresher', 'sophomore', 'junior', 'senior', 'eternal'])
    liked_channel = random.choice(['A', 'B', 'C', 'D', 'E'])
    df.loc[len(df)] = [userId, gender, age, grade, liked_channel]

df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/user_data.csv', index=False)
df.head()

   userId  gender  age    grade liked_channel
0       1    male   35   senior             D
1       2    male   28   senior             C
2       3  female   24  fresher             C
3       4  female   34  eternal             A
4       5    male   25   junior             E