In [15]:
# 유저의 인구통계학적 정보를 담고 있는 데이터셋을 랜덤 생성하는 코드
import pandas as pd
import random

df = pd.DataFrame(columns=['userId', 'gender', 'age', 'grade', 'likedChannel'])
for i in range(0, 1000):
    userId = i
    gender = random.choice(['male', 'female'])
    age = random.randint(19, 35)
    grade = random.choice(['fresher', 'sophomore', 'junior', 'senior', 'eternal'])
    liked_channel = []
    for channel in ['A', 'B', 'C', 'D', 'E']:
        if random.random() > 0.5:
            liked_channel.append(channel)
    df.loc[len(df)] = [userId, gender, age, grade, liked_channel]

df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/user_data.csv', index=False)
df.head()

   userId  gender  age    grade likedChannel
0       0    male   33   junior       [D, E]
1       1  female   22   junior    [B, C, E]
2       2  female   35   senior       [C, E]
3       3  female   25   senior       [A, D]
4       4  female   20  eternal    [B, C, E]