In [ ]:
# 유저의 인구통계학적 정보를 담고 있는 데이터셋을 랜덤 생성하는 코드
import pandas as pd
import random

df = pd.DataFrame(columns=['userId', 'gender', 'age', 'major', 'grade'])
for i in range(1, 1001):
    userId = i
    gender = random.choice(['male', 'female'])
    age = random.randint(18, 35)
    major = random.choice(['engineering', 'science', 'arts', 'business', 'humanities', 'other'])
    grade = random.choice(['fresher', 'sophomore', 'junior', 'senior', 'eternal'])
    df.loc[len(df)] = [userId, gender, age, major, grade]

df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/user_data.csv', index=False)
df.head()

   userId  gender  age        major      grade
0       1    male   18  engineering  sophomore
1       2    male   28         arts     senior
2       3    male   26     business     senior
3       4  female   27   humanities    eternal
4       5    male   27   humanities  sophomore