In [2]:
import pandas as pd

# 유저의 인구통계적 정보를 매핑하는 데이터프레임을 생성하는 코드
df = pd.DataFrame(columns=['category', 'index'])

df.loc[len(df)] = ['gender_male', 0]
df.loc[len(df)] = ['gender_female', 1]

df.loc[len(df)] = ['age_25_and_under', 0]
df.loc[len(df)] = ['age_26_and_over', 1]

df.loc[len(df)] = ['major_engineering', 0]
df.loc[len(df)] = ['major_science', 1]
df.loc[len(df)] = ['major_arts', 2]
df.loc[len(df)] = ['major_business', 3]
df.loc[len(df)] = ['major_humanities', 4]
df.loc[len(df)] = ['major_other', 5]

df.loc[len(df)] = ['grade_fresher', 0]
df.loc[len(df)] = ['grade_sophomore', 1]
df.loc[len(df)] = ['grade_junior', 2]
df.loc[len(df)] = ['grade_senior', 3]
df.loc[len(df)] = ['grade_eternal', 4]

df

             category  index
0         gender_male      0
1       gender_female      1
2    age_25_and_under      0
3     age_26_and_over      1
4   major_engineering      0
5       major_science      1
6          major_arts      2
7      major_business      3
8    major_humanities      4
9         major_other      5
10      grade_fresher      0
11    grade_sophomore      1
12       grade_junior      2
13       grade_senior      3
14      grade_eternal      4

In [3]:
df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/mapping_categories.csv')